<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>DashBoard</title>

    <!-- CoreUI for Bootstrap CSS -->
    <link crossorigin="anonymous" integrity="sha384-lBISJVJ49zh34fnUuAaSAyuYzQ2ioGvhm4As4Z1JFde0kVpaC1FFWD3f9adpZrdD"
          rel="stylesheet" th:href="@{/admin/css/coreui.min.css}">

    <!-- CoreUI for Bootstrap Bundle with Popper -->
    <script crossorigin="anonymous" integrity="sha384-yoEOGIfJg9mO8eOS9dgSYBXwb2hCCE+AMiJYavhAofzm8AoyVE241kjON695K1v5"
            th:src="@{/adminjs/coreui.bundle.min.js}"
            type="text/javascript"></script>
</head>
<body>
<h1>Hello Admin</h1>
</body>
</html>